# exclude IDE files
nbproject
.~lock.*
.buildpath
.idea
.project
.settings

/build/grunt/node_modules/
/view/adminhtml/web/css/maxserv-yoast-seo.min.css
/view/adminhtml/web/css/maxserv-yoast-seo.min.css.map
