#default ignore everything
/*

# standard files
!/.gitignore
!/composer.json
!/license.txt
!/README.md

# magento files
!/Api
!/Block
!/Controller
!/etc
!/Helper
!/Model
!/registration.php
!/Setup
!/view
!/Ui
