<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="MaxServ_YoastSeo::admin" sortOrder="100" translate="title" title="YoastSEO" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
