<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <yoastseo>
            <advanced>
                <seo_attribute_group_code>search-engine-optimization</seo_attribute_group_code>
            </advanced>
        </yoastseo>
    </default>
</config>
