<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MaxServ\YoastSeo\Api\Data\AnalysisTemplateInterface" type="MaxServ\YoastSeo\Model\Analysis\Template" />
    <preference for="MaxServ\YoastSeo\Api\Data\AnalysisTemplateSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="MaxServ\YoastSeo\Api\AnalysisTemplateRepositoryInterface" type="MaxServ\YoastSeo\Model\AnalysisTemplateRepository" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="yoastseo_analysis_templates_listing_data_source" xsi:type="string">MaxServ\YoastSeo\Model\ResourceModel\Analysis\Template\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="MaxServ\YoastSeo\Model\ResourceModel\Analysis\Template\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="const">MaxServ\YoastSeo\Api\Data\AnalysisTemplateInterface::TABLE</argument>
            <argument name="eventPrefix" xsi:type="string">yoastseo_analysis_template_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">yoastseo_analysis_template_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">MaxServ\YoastSeo\Model\ResourceModel\Analysis\Template</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="MaxServ\YoastSeo\Api\Data\AnalysisTemplateInterface" xsi:type="string">MaxServ\YoastSeo\Api\AnalysisTemplateRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="MaxServ\YoastSeo\Api\Data\AnalysisTemplateInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="const">MaxServ\YoastSeo\Api\Data\AnalysisTemplateInterface::TABLE</item>
                    <item name="identifierField" xsi:type="const">MaxServ\YoastSeo\Api\Data\AnalysisTemplateInterface::KEY_TEMPLATE_ID</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Magento\Catalog\Api\Data\ProductInterface" xsi:type="array">
                    <item name="delete" xsi:type="array">
                        <item name="onDeleteCreateRedirect" xsi:type="string">MaxServ\YoastSeo\EntityManager\Operation\Extension\Catalog\Product\Delete\RewriteHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="MaxServ\YoastSeo\Api\Data\AnalysisTemplateInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
    <type name="MaxServ\YoastSeo\Setup\UpgradeData">
        <arguments>
            <argument name="templates" xsi:type="array">
                <item name="catalog_product" xsi:type="array">
                    <item name="entity_type" xsi:type="string">catalog_product</item>
                    <item name="content" xsi:type="string">
                        <![CDATA[<h1>{{name reader='text'}}</h1>
<div>{{description reader='wysiwyg'}}</div>
<div class="gallery">{{product_images provider='product_images'}}</div>]]>
                    </item>
                </item>
                <item name="catalog_category" xsi:type="array">
                    <item name="entity_type" xsi:type="string">catalog_category</item>
                    <item name="content" xsi:type="string">
                        <![CDATA[<h1>{{name reader='text'}}</h1>
<div>{{description reader='wysiwyg'}}</div>
<div>{{landing_page reader='category_landing_page'}}</div>]]>
                    </item>
                </item>
                <item name="cms_page" xsi:type="array">
                    <item name="entity_type" xsi:type="string">cms_page</item>
                    <item name="content" xsi:type="string">
                        <![CDATA[<h1>{{title reader='text'}}</h1>
<div>{{content reader='wysiwyg'}}</div>]]>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="MaxServ\YoastSeo\Model\ImageUploader" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">yoast/tmp</argument>
            <argument name="basePath" xsi:type="string">yoast/img</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="MaxServ\YoastSeo\Model\Entity\Configuration\Cms\PageConfiguration">
        <arguments>
            <argument name="metaProvider" xsi:type="object">MaxServ\YoastSeo\Model\Entity\Configuration\Cms\PageMetaProvider</argument>
        </arguments>
    </type>
    <type name="MaxServ\YoastSeo\Model\Entity\Configuration\Catalog\ProductConfiguration">
        <arguments>
            <argument name="metaProvider" xsi:type="object">MaxServ\YoastSeo\Model\Entity\Configuration\Catalog\ProductMetaProvider</argument>
        </arguments>
    </type>
    <type name="MaxServ\YoastSeo\Model\Entity\Configuration\Catalog\CategoryConfiguration">
        <arguments>
            <argument name="metaProvider" xsi:type="object">MaxServ\YoastSeo\Model\Entity\Configuration\Catalog\CategoryMetaProvider</argument>
        </arguments>
    </type>
    <type name="MaxServ\YoastSeo\Model\EntityConfigurationPool">
        <arguments>
            <argument name="entityConfigurations" xsi:type="array">
                <item name="cms_page_form" xsi:type="object">MaxServ\YoastSeo\Model\Entity\Configuration\Cms\PageConfiguration</item>
                <item name="product_form" xsi:type="object">MaxServ\YoastSeo\Model\Entity\Configuration\Catalog\ProductConfiguration</item>
                <item name="category_form" xsi:type="object">MaxServ\YoastSeo\Model\Entity\Configuration\Catalog\CategoryConfiguration</item>
            </argument>
        </arguments>
    </type>
</config>
